.profile-container {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 10%;
        min-height: fit-content;
}

.profile-parent {
        display: flex;
        align-items: center;
        color: aliceblue;
        margin: 80px 0 0 0;
}

.profile-details-name {
        font-size: 24px;
        font-family: "Poppins SemiBold";
}

.profile-details-role {
        display: flex;
        flex-direction: column;
        margin: 14px 0 24px 0;
}

.profile-details-role h1 {
        font-size: 40px;
}

.primary-text {
        color: white;
}

.highlighted-text {
        color: var(--dark-orange);
}

.profile-role-tagline {
        font-size: 19px;
        margin: 5px 0 0 0;
        font-family: "Poppins Light";
}

.profile-options .highlighted-btn {
        margin: 0 0 0 28px;
}

.profile-options .highlighted-btn:hover {
        margin: 0 0 0 28px;
        background-color: cornsilk;
        color: #111;
}

.profile-picture {
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 1px 0 0 var(--white);
        height: 380px;
        width: 380px;
        margin: 0 0 0 100px;
        border-radius: 50%;
}

.profile-picture-background {
        height: 92%;
        width: 92%;
        border-radius: 50%;
        background: url("../../../assets/images/profile/profile.jpeg");
        background-position: right;
        background-size: cover;
        background-repeat: no-repeat;
}

.profile-picture-background:hover {
        transform: scale(1.07);
        transition: 1s ease-out;
}

.colz .colz-icon i {
        color: white;
        padding: 8px;
        padding-left: 0;
}

.colz .colz-icon i:hover {
        transform: scale(1.05);
}

@media screen and (max-width: 1110px) {
        .profile-picture {
                margin: 0 0 0 80px;
        }

        .profile-details-name {
                font-size: 20px;
        }

        .profile-details-role .primary-text {
                font-size: 32px;
        }

        .profile-options .btn {
                width: 120px;
                padding: 11px 0;
                z-index: 700;
        }
}

@media screen and (max-width: 768px) {
        .profile-picture {
                height: 320px;
                height: 320px;
                margin: 0 0 0 40px;
        }
}

@media screen and (max-width: 694px) {
        .profile-parent {
                display: flex;
                flex-direction: column-reverse;
                margin: 80px 0 0 0;
        }

        .profile-picture {
                margin: 0 0 10px 0;
                height: 280px;
                width: 280px;
        }

        .profile-options {
                width: 100%;
                display: flex;
                justify-content: space-between;
        }

        .profile-options .btn {
                width: 180px;
                padding: 14px 0;
        }
}

@media screen and (max-width: 438px) {
        .profile-picture {
                width: 240px;
                height: 240px;
        }

        .profile-options .btn {
                width: 120px;
                padding: 11px 0;
        }
}
